<h1 align="center">Welcome to the online Corona test</h1>




<div class="start">
  START
</div>



<div class="main">
  <div class="test_questions">

  </div>

  <div class="test_answers">
    <span id="yes">YES</span>
    <span id="no">NO</span>
  </div><br/><br/>






</div>

<div class="ui indicating progress error" data-value="1" data-total="5" id="example5">
  <div class="bar"></div>
  <div class="label sizing">Safe</div>

</div>
